<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal wydarzeń</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="css\main.css" type="text/css" />

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</head>
<body>

<div class="wrapper">
    <!--<p class="info" th:text="${userRegisteredCorrectly}"></p>-->
    <p class="alert alert-danger" th:if="${param.error}" th:text="'Podany login lub hasło są nieprawidłowe'"></p>
    <div id="formContent">
        <div class="loginTitle" >Logowanie</div>
        <form action="/appLogin" method="post">
            <input type="text" id="username" class="myTextButton first" name="username" placeholder="email">
            <input type="password" id="pass" class="myPasswordButton second" name="pass" placeholder="hasło">
            <div style="margin-top:15px;">
                <input  type="submit" value="Zaloguj" class="mySubmitButton">
            </div>
            <a class="btn btn-secondary" href="/registration">Rejestracja</a>
            <br/>
            <span style="padding-left: 50%"></span>
        </form>

    </div>
</div>

</body>
</html>
