<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal wydarzeń</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="css\main.css" type="text/css" />

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</head>

<body>
<div class="mt-50"></div>
<div class="wrapper">

    <div id="formContent">
        <div class="registrationTitle" >Rejestracja</div>

        <form th:action="@{/registration}" th:object="${user}" method="post">

            <p class="error" th:text="${commonError}"></p>
            <input id="username" type="text" th:field="*{username}" class="myTextButton" placeholder="email"/>
            <div class="error" th:errors="*{username}"></div>
            <input id="password" type="password" th:field="*{password}" class="myPasswordButton"
                   placeholder="hasło"/>
            <div class="error" th:errors="*{password}"></div>
            <input id="confirmedPassword" type="password" th:field="*{confirmedPassword}" class="myTextButton third"
                   placeholder="powtórz hasło"/>
            <div>
                <input id="city" type="text" th:field="*{city}" class="myTextButton" placeholder="miasto"/>
                <div class="error" th:errors="*{city}"></div>
                <input id="address" type="text" th:field="*{address}" class="myTextButton" placeholder="adres"/>
                <div class="error" th:errors="*{address}"></div>
                <input type="button" value="Powrót" name="backButton"
                       onClick="javascript:window.location.href='/login'" class="myButton shortButton" >
                <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
            </div>
        </form>

    </div>
</div>

</body>
</html>